<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mini.model.dao.UserDao">

	<insert id="insertUser" parameterType="User">
		INSERT 
		  INTO 
				USERS
				(ID,
				PASSWORD,
				NAME,
				EMAIL,
				AGE,
				GENDER,
				PHONE,
				BIRTH)
		VALUES
				(#{id},
				#{password},
				#{name},
				#{email},
				#{age},
				#{gender},
				#{phone},
				CONCAT(${year}, ${month}, ${day}))
	</insert>
	
	<select id="selectOne" parameterType="String" resultType="User">
		SELECT
				ID,
				PASSWORD,
				NAME,
				EMAIL,
				GENDER,
				PHONE,
				GRADE,
				CREATETIME
		  FROM
		  		USERS
		 WHERE
		 		ID = #{id}
	</select> 
	
	<delete id="deleteUser" parameterType="String">
		DELETE
		  FROM
		  		USERS
		 WHERE
		 		ID = #{id}
	</delete>

</mapper>